#
# Defines the look and size/position of UI elements.
#
# Position option specifies the x and y position of the element.
# X and y must be integers.
# eg: position = { 0, 0 }
#
# Dimensions option specifies the width and height.
# Width and height must be integers.  To use all the available space
# substitute the keyword "full".  The available space is determined by
# subtracting the position from the screen size.
#
# For example, if the screen size is 640x480 and position = { 0, 100 } and
# dimensions = { full, full } the actual dimensions would be 640, 380.
#
# For elements that contain text, use the justify option to define how the
# text is rendered inside the region.  Valid values are left, right, center.
#

# path to truetype font file
#font = "slicker.ttf"

# path to background image
#background = "background.png"

title {
   position   = { 0, 0 }
   dimensions = { full, 56 }
   font_height = 40
   justify = center
   color = 0xefefef
}

list {
   position = { 0, 56 }
   dimensions = { full, full }
   font_height = 28
   justify = center
   spacing = 4
   color = 0xefefef
   hover_color = 0xffe432
}

snapshot {
   position = { 0, 56 }
   dimensions = { full, full }
   
   # amount to fade game snapshots (0x00 - 0xff)
   alpha = 0x96
}
